@use './login';
@use './dashboardLayout';
@use './users';
@use './userDetails';

#root{
  width: 100vw;
  height: 100vh;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Avenir Next', sans-serif;
}
.notFound{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  background-color: #000;
}
::-webkit-scrollbar{
  display: none;
}
