@use "../_variables/index" as v;

.login {
  background-color: v.$white;
  padding: 4.65%;
  width: 100vw;
  height: 100vh;
  overflow-y: auto;
  header {
    padding-left: 2.3%;
    width: 100%;
    h1 {
      width: 100%;
      font-size: 36px;
      line-height: 36px;
      img {
        width: 173.76px;
        height: 36px;
      }
    }
  }
  main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 4.6%;
    height: 404px;
    padding: 0;
    margin-top: 73px;
  
    .loginImg {
      width: 45.94%;
      height: 348px;
      padding: 0;
      padding-top: 66px;
      padding-bottom: 0;
      img {
        width: 100%;
        min-width: 360px;
        height: 100%;
        object-fit: contain;
      }
    }
    .formContainer {
      width: 48.69%;
      padding-right: 14.17%;
      padding-left: 15.75;
      .text {
        padding-bottom: 60px;
        h3 {
          font-size: clamp(28px, 6.5vw, 40px);
          font-weight: 700;
          line-height: 54.64px;
          margin-bottom: 10px;
          text-transform: capitalize;
          color: v.$thickColor;
          font-family: "Avenir Next", sans-serif;
        }
        p {
          color: v.$thinColor;
          font-size: clamp(18px, 1.5rem, 20px);
          font-weight: 400;
          line-height: 27.32px;
        }
      }
      form {
        width: 100%;
        .inputs {
          width: 100%;
          display: flex;
          flex-direction: column;
          margin-bottom: 24px;
          .error{
            color: #{v.$red}77;
            font-size: 12px;
            display: block;
            height: 12px;
          }
          label {
            display: flex;
            align-items: center;
            width: 100%;
            height: 50px;
            padding: 0 16px;
            margin-bottom: 20px;
            margin-top: 5px;
            border-radius: 5px;
            border: 1px solid #{v.$thinColor}24;
            input {
              width: 100%;
              background-color: transparent;
              border: none;
              height: 20px;
              display: flex;
              align-items: center;
              font-size: 14px;
              color: v.$thinColor;
              &:focus,
              &:active {
                outline: none;
                background-color: transparent;
              }

              &::placeholder {
                color: v.$thinColor;
                font-size: 14px;
              }
              &:-webkit-autofill,
              &:-webkit-autofill:hover,
              &:-webkit-autofill:focus,
              &:-webkit-autofill:active {
                transition: background-color 9999s ease-in-out 0s;
                -webkit-text-fill-color: v.$thinColor;
              }
            }
            &.pwd {
              display: flex;
              input {
                width: 90%;
                margin-bottom: 0;
              }
              span {
                background-color: transparent;
                color: v.$thinnerColor;
                border: none;
                font-size: 12px;
                font-weight: 600;
                width: 10%;
                min-width: 40px;
                outline: none;
              }
            }
          }
        }
        .forgotPwd {
          color: v.$thinnerColor;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 12px;
          display: block;
          margin-bottom: 30px;
        }
        .submitBtn{
          width: 100%;
          height: 48px;
          text-align: center;
          background-color: v.$thinnerColor;
          border: none;
          border-radius: 8px;
          color: v.$white;
          font-weight: 600;
          font-size: 14px;
          text-transform: uppercase;
        }
      }
    }
  }
  @media screen and (max-width: 1023px) {
    h1{
      margin-bottom: 20px;
    }
    main{
      flex-direction: column;
      align-items: center;
      height: auto;
      overflow-y: auto;
      padding: 0;
      margin-top: 10px;
      .loginImg{
        width: 100%;
        padding-top: 20px;
      }
      .formContainer{
        width: 60%;
        max-width: 600px;
        min-width: 400px;
        padding: 0;
      }
    }
  }
  @media screen and (max-width: 450px){
    main{
      .formContainer{
        width: 80%;
        min-width: 300px;
        height: auto;
        padding-bottom: 120px;
        form{
          .inputs{
            label{
              height: 40px;
              input{
                height: 20px;
              }
            }
          }
        }
      }
    }

  }
  @media screen and (max-width: 380px) {
    padding-left: 10px;
    main{
      .loginImg{
        img{
          min-width: 240px;
        }
      }
      .formContainer{
        width: 90%;
        min-width: 240px;
      }
    }
  }
}
